node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.vscode/
.Rproj.user
.Rhistory
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
/.quarto/
.quarto/

_extensions/
_site/


_src_settings.R
zzz_NOTES.txt
zzz_install_&_deploy.sh

# large files
lightness.sqlite 
BlueTit_fledging.mp4