node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.vscode/
.Rproj.user
.Rhistory
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
/.quarto/
.quarto/

_extensions/
_site/


# large files
BlueTit_fledging.mp4
